<div id="<%= dom_id books_upload %>">
  <p>
    <strong>Name:</strong>
    <%= books_upload.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= books_upload.url %>
  </p>

  <p>
    <strong>Attachment data:</strong>
    <%= books_upload.attachment_data %>
  </p>

</div>
