<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New books upload</h1>

  <%= render "form", books_upload: @books_upload %>

  <%= link_to 'Back to books uploads', books_uploads_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
